{% extends "base.html" %}
{% block title %}<title>不应存在的界面</title>{% endblock %}
{% block content %}
<div class="memo" >
<push></push>
<div class="part" >
<h1>站住！<span><small>我怀疑你是机器人！</small></span></h1>
<hr><br>
<small>您为什么会看到这个页面：</small><br>
<small>1. 本站使用了非常严格的反机器人技术</small><br>
<small>2. 当然，能理解这段文字的你一定是人类。</small><br>
<small>3. 请点击浏览器的“后退”按钮，回到之前的页面，复制您的发言，刷新页面后再次尝试提交。</small><br>
<small>4. 很抱歉给您带来了不便，如果您多次发言失败，请在”站务“版块提交bug或联系管理员邮箱admin@skyin.win。</small><br>
<br>
<small><a href="/p0/1">点击这里</a>回到首页</small>
<br>


</div>
</div>
{% endblock %}